{% extends 'takdhum/html/base.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}
{% block meta %}
<!-- Meta -->
<meta charset="utf-8">
<meta name="description" content="{{ info.office_address }}" />
<meta name="keywords" content="Contact Us Takdhum" />
<meta name="developer" content="Md. Mohaymenul Islam">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock meta %}

{% block body %}
<!--
<section class="uv-map">
    <div id="map">
    </div>
</section>
-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<section class="uv-contact">
    <div class="container">
        <div class="row section-separator">
            <div class="col-md-9 col-sm-12 col-xs-12 content-widget">
                <div class="col-xs-12 widget-title">
                    <h4>Leave a Message</h4>
                    <hr class="uv-hr">
                </div>
                <form class="single-form quate-form" data-toggle="validator" target="#" method="POST">
                    {% csrf_token %}
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="col-md-4">
                        <input name="first_name" class="contact-name form-control" id="id_name" type="text" placeholder="First Name" required>
                        <input name="last_name" class="contact-email form-control" id="id_last_name" type="text" placeholder="Last Name" required>
                        <input name="email" class="contact-subject form-control" id="is_email" type="email" placeholder="Your Email" required>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <textarea class="contact-message form-control"  name="message" id="id_message" placeholder="Your Message" required></textarea>
                        <button type="submit" class="btn btn-fill">send message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 content-widget uv-contact-details-1">
                <div class="widget-title">
                    <h4>Contact Details</h4>
                    <hr class="uv-hr">
                </div>
                <div class="contact-list">
                    <ul class="contact-details">
                        <li><i class="fa fa-link"></i> <a href="{% url 'index' %}"> {{ info.name }}</a></li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:{{ info.email }}"> {{ info.email }}</a></li>
                        <li><i class="fa fa-phone"></i> {{ info.phone_1 }}</li>
                        {% if info.phone_2 %}
                        <li><i class="fa fa-fax"></i> {{ info.phone_2 }}</li>
                        {% endif %}
                        <li><i class="fa fa-home"></i> {{ info.office_address }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}


{% block script %}
<!-- init -->
<script src="{% static "takdhum/assets/js/init.js" %}"></script>

{% endblock script %}