{% extends 'takdhum/html/base.html' %}
{% load static %}

{% block title %} Password reset confirm {% endblock title %}

{% block body %}
    <div class="container">
        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
        <br/>
    </div>

{% endblock %}

{% block script %}
    <!-- init -->
    <script src="{% static " takdhum/assets/js/init.js" %}"></script>

{% endblock script %}