{% load static %}

<!-- Meta -->
<meta charset="utf-8">
<meta name="description" content="TAKDHUM is a video-based online classroom where students develop creativity and confidence through our multi-level art instruction program. We offer video lessons that can be taken anytime, anywhere- via laptop, tablet or smart phone. Each program meets the Standards for Arts Education.
"/>
<meta name="keywords" content="TAKDHUM is a video-based online classroom in Bangladesh" />
<meta name="developer" content="Md. Mohaymenul Islam">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{% block meta %}

{% endblock meta %}

