{% load static %}
<!--
|========================
| About
|========================
-->
<section class="uv-feature-2">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-4 wow fadeInUp">
                <div class="uv-featured-post-title" data-wow-delay="0.2s">
                    <h4>Best Online Certification</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="featured-post-inner uv-hover-style">
                    <img src="{% static "takdhum/assets/images/e1.jpg" %}" alt="" class="img-responsive">
                    <div class="uv-post-inner-content">
                        <h6>Bring Youth to Fun & Study</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor
                        incididunt ut labore et.dolore magna aliqua.</p>
                        <a href="#" class="btn btn-base">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="uv-featured-post-title">
                    <h4>Student Life</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="featured-post-inner uv-hover-style">
                    <img src="{% static "takdhum/assets/images/e2.jpg" %}" alt="" class="img-responsive">
                    <div class="uv-post-inner-content">
                        <h6>Life is Like Riding a Bicycle</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor
                        incididunt ut labore et.dolore magna aliqua.</p>
                        <a href="#" class="btn btn-base">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="uv-featured-post-title">
                    <h4>Notice BOARD</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="featured-post-inner">
                    <div class="uv-post-inner-content">
                        <ul>
                            <li>
                                <a href="#"><h5>Summer Last Results</h5></a>
                                <span><i class="fa fa-calendar"></i> January 20, 2018</span>
                            </li>
                            <li>
                                <a href="#"><h5>College Campus</h5></a>
                                <span><i class="fa fa-calendar"></i> January 21, 2018</span>
                            </li>
                            <li>
                                <a href="#"><h5>Wondering How To Make Your Project Rock</h5></a>
                                <span><i class="fa fa-calendar"></i> January 22, 2018</span>
                            </li>
                            <li>
                                <a href="#"><h5>Our Admission Quary</h5></a>
                                <span><i class="fa fa-calendar"></i> January 23, 2018</span>
                            </li>
                            <li>
                                <a href="#"><h5>Education Needs For Better Life</h5></a>
                                <span><i class="fa fa-calendar"></i> January 24, 2018</span>
                            </li>
                        </ul>
                        <a class="btn btn-base" href="#" class="read-more"> See All Notice </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
